* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color: #f72585;
  --secondary-color: #1a1a2e;
  --dark-theme-color: var(--secondary-color);
  --light-theme-color: linear-gradient(to bottom, #f72585, #7209b7);
  --text-color: #fff;
  --bg-color: #17171d;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  height: 100%;
  overflow: hidden;
  background: var(--dark-theme-color);
}

/* ================= common ================= */
a {
  text-decoration: none;
  color: var(--text-color);
}

i {
  color: inherit;
  cursor: pointer;
}

img {
  object-fit: cover;
}

/* ================= Id ================= */
#audio {
  display: none;
}

/* ================= Side bar ================= */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 220px;
  background-color: var(--bg-color);
}

.sidebar .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 35.5px;
  font-weight: bold;
  gap: 6px;
}

.sidebar .logo a {
  transition: all 0.3s ease;
}

.sidebar .logo a:hover {
  text-shadow: 0 0 50px #7209b7;
}

.sidebar .logo i,
.sidebar .logo a {
  font-size: 1.9rem;
  color: var(--primary-color);
}

/* ================= Nav ================= */
.nav {
  width: 220px;
}

.nav a:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.nav .nav-top span {
  font-weight: bold;
}

.nav .menu .navbar-item a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 500;
  padding: 15px 35px;
  gap: 10px;
}

.nav .nav-top::after {
  content: "";
  margin: 15px 50px;
  display: block;
  height: 1px;
  border-radius: 1px;
  background: #626262;
}

.nav-link {
  text-decoration: none;
  color: var(--text-color);
  padding: 10px;
  display: inline-block;
}

.nav .menu .navbar-item {
  transition: background-color 0.3s, color 0.5s;
}

.nav .navbar-item.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav .navbar-item.active a {
  color: var(--primary-color);
}

/* =================  Header =================  */
header .header {
  position: fixed;
  top: 0;
  right: 0;
  left: 220px;
  height: 90px;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* =================  Left Header =================  */
header .header .left-header {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 60%;
}

header .header .left-header .search {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
}

header .header .left-header .search i {
  color: var(--text-color);
}

header .header .left-header .search input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-color);
}

/* =================  Right Header =================  */
header .header .right-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 30%;
}

header .header .right-header .profile i,
header .header .right-header .username a {
  color: var(--text-color);
  padding: 10px;
}

header .header .right-header .profile i:hover {
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.toggle-switch {
  position: relative;
  width: 50px;
  height: 26px;
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  border-radius: 13px;
  cursor: pointer;
  border: 2px solid var(--secondary-color);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--primary-color);
}

.slider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 8px -3px 0px 0px var(--primary-color);
  background-color: var(--secondary-color);
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  transform: translateX(22px);
  background-color: var(--secondary-color);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* =================  Music Player =================  */
.music-player {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  top: auto;
  bottom: 0;
  height: 90px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

/* =================  Music Player Left =================  */
.music-player .left {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 30%;
  gap: 10px;
}

.music-player .left .song-info img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.music-player .left .description h3 {
  font-size: 1.4rem;
  font-weight: bold;
  padding: 5px 0;
}

.music-player .left .description h5 {
  color: #818c9a;
  padding: 5px 0;
  font-size: 1.2rem;
}

.music-player .left .interact .btn {
  background-color: transparent;
  color: currentColor;
  border: none;
}

.music-player .left .interact i {
  font-size: 2rem;
  padding: 5px;
}

.music-player .left .like-btn .bxs-heart {
  display: none;
}

.music-player .left .like-btn.active .bx-heart {
  display: none;
}

.music-player .left .like-btn.active .bxs-heart {
  display: inline;
  color: var(--primary-color);
}

/* =================  Music Player Center =================  */
.music-player .center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
}
.music-player .center .player-actions .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px;
}

.music-player .center .player-actions .buttons .btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
}

.music-player .center .player-actions .btn i {
  font-size: 2rem;
  padding: 5px;
}

.music-player .center .player-actions .pause-play i {
  font-size: 2.7rem;
}

.music-player .center .pause-play .bx-play-circle {
  display: inline;
}

.music-player .center .pause-play .bx-pause-circle {
  display: none;
}

.music-player .center .pause-play.active .bx-play-circle {
  display: none;
}

.music-player .center .pause-play.active .bx-pause-circle {
  display: inline;
  color: var(--primary-color);
}

.music-player .center .player-actions .btn.active {
  color: #f72585;
}

.music-player .center .progress {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
  color: var(--text-color);
  font-size: 1.4rem;
  width: 100%;
}

.music-player .center .progress .progress-bar {
  height: 5px;
  appearance: none;
  background: linear-gradient(to right, #f72585 0%, #f72585 0%, var(--text-color) 0%, var(--text-color) 100%);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.progress .progress-bar::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--text-color);
  border: 2px solid #1e1e23;
  border-radius: 50%;
}

/* =================  Music Player Right =================  */
.music-player .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  width: 30%;
}

.music-player .right .buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.music-player .right .btn {
  background-color: transparent;
  color: var(--text-color);
  border: none;
}

.music-player .right .buttons i {
  font-size: 2rem;
  padding: 5px;
}

.music-player .right .btn {
  display: flex;
  align-items: center;
  gap: 10px;
}

.music-player .right .btn .volume-bar {
  height: 5px;
  appearance: none;
  border-radius: 2px;
  cursor: pointer;
}

.music-player .right .btn .volume-bar::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: linear-gradient(to right, #f72585 0%, #f72585 0%, var(--text-color) 0%, var(--text-color) 100%);
  border: 2px solid #1e1e23;
  border-radius: 50%;
}

.music-player .right .playlist-sidebar {
  position: fixed;
  top: 0px;
  bottom: 90px;
  right: -300px;
  width: 300px;
  background-color: #1a1a2e;
  color: var(--text-color);
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.5s ease;
  z-index: 1;
}

.music-player .right .playlist-sidebar.show {
  right: 0;
}

.music-player .right .sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#closeSidebar {
  background: none;
  border: none;
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
}

.music-player .right .btn .bxs-playlist.active {
  background-color: var(--primary-color);
  border-radius: 5px;
}

/* =================  Scrollbar =================  */
/* Custom Scrollbar cho main-content */
main .main-content::-webkit-scrollbar {
  width: 6px;
}

/* Phần "nút" scrollbar */
main .main-content::-webkit-scrollbar-thumb {
  background-color: #92929d;
  border-radius: 5px;
}

main .main-content .hidden {
  display: none;
}

/* =================  Main Content =================  */
main .main-content {
  margin-top: 90px;
  margin-left: 220px;
  padding: 20px;
  padding-bottom: 120px;
  height: calc(100vh - 91px);
  overflow-y: auto;
}

main .main-content .banner {
  width: 100%;
}

main .main-content .section {
  margin-top: 50px;
}

main .main-content .suggestion .title {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: bold;
  margin: 10px 0;
}

main .main-content .suggestion .list {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .main-content .suggestion .list .item {
  margin-top: 20px;
}

main .main-content .suggestion .list .item .media {
  display: flex;
  align-items: center;
}

main .main-content .suggestion .list .item .media .song-info {
  margin-left: 10px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--text-color);
}

main .main-content .suggestion .list .item .media .song-info .song-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.song-info .song-title:hover {
  color: var(--primary-color);
}

main .main-content .suggestion .list .item .media .song-info .subtitle {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #ccc;
}

main .main-content .suggestion .list .item .media .song-info .subtitle .singer {
  font-size: 1.3rem;
  color: #ccc;
}

main .main-content .suggestion .list .item .media .song-info .subtitle .singer:hover {
  text-decoration: underline;
}

main .main-content .suggestion .list .item .media .song-thumb img {
  width: 60px;
  height: 60px;
}

main .main-content .artist .subtitle {
  font-size: 1.4rem;
  font-weight: 500;
  color: #ccc;
  margin-bottom: 5px;
}

main .main-content .artist .title {
  font-size: 2rem;
  font-weight: bold;
}

/* =================  Responsive =================  */
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  header .header {
    left: 0;
    width: 100%;
  }

  main .main-content {
    margin-left: 0;
  }

  .music-player .center .progress input {
    width: 100%;
  }

  .music-player .left,
  .music-player .right {
    display: none;
  }

  .music-player .center {
    width: 100%;
  }
}
