* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Khôi phục lại cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  height: 100vh;
}

/* ================= common ================= */
a {
  text-decoration: none;
  color: #fff;
}

i {
  color: inherit;
  cursor: pointer;
}

img {
  object-fit: cover;
}

/* ================= container ================= */
.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  background: linear-gradient(180deg, #171717, #191919);
}

/* ================= Side bar ================= */
.sidebar {
  height: 100vh;
  background-color: #18181d;
}

.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 36px;
  font-weight: bold;
  gap: 6px;
}

.sidebar .logo a:hover {
  text-shadow: 0 0 50px #7209b7;
  transition: all 0.3s ease;
}

.sidebar .logo i,
.sidebar .logo a {
  font-size: 1.9rem;
  color: #f72585;
}

/* =================  Nav ================= */
.nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

.nav a:hover {
  color: #f72585;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: all 0.3s ease;
}

.nav-top span {
  font-weight: bold;
}

.nav-top ul li a,
.nav-bottom ul li a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2;
  font-weight: 500;
  padding: 15px 50px;
  gap: 10px;
}

.nav-top::after {
  content: "";
  margin: 15px 50px;
  display: block;
  height: 1px;
  border-radius: 1px;
  background: #626262;
}

/* =================  Header =================  */
.header {
  display: flex;
  align-items: center;
}

.button-header {
  display: flex;
  align-items: center;
  padding: 25px;
  width: 100%;
}

.button-header .btn {
  background-color: transparent;
  color: currentColor;
  border: none;
  font-size: 2rem;
  color: #fff;
}

.button-header .btn i {
  padding: 5px 10px 5px 10px;
}

.button-header .btn i:hover {
  color: #f72585;
  transition: all 0.3s ease;
}

.button-header .search {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 70%;
  background-color: #1d1d1d;
  border: 1px solid #262626;
  padding: 10px;
  border-radius: 8px;
}

.button-header .search i {
  color: #fff;
}

.button-header .search input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}

/* =================  Right section =================  */
.right-section {
  padding: 25px 36px 25px 0;
}

.right-section-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right-section-top .profile i,
.right-section-top .setting i {
  color: #fff;
  padding: 10px;
}

.right-section-top .profile i:hover,
.right-section-top .setting i:hover {
  color: #f72585;
  transition: all 0.3s ease;
}

/* =================  Music Player =================  */
